$breakpoint-tablet: 768px;
$breakpoint-phone: 414px;

.producto-detail-card {
  width: 50%;
  margin: 30px 30px 30px 30px;

  position: relative;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;

  @media (max-width: $breakpoint-tablet) {
    width: 90%;
  }

  @media (max-width: $breakpoint-phone) {
    width: 80%;
  }
}


h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.imagenes {
  width: 100%;
  margin: 0 auto;

  position: relative;
  padding: 8px;
  font-size: 14px;
}

.nombre {
  font-size: xx-large;
  color: rgb(43, 43, 43);
  text-align: center;
}

.marca {
  font-size: large;
  color: rgb(126, 120, 120);
  text-align: center;
}

.precioReal {
  color: rgb(43, 43, 43);
}

.precioOferta {
  font-size: medium;
  color: rgb(214, 32, 32);
  font-weight: bold;
}