<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
        <a routerLink="/"><%=proyecto%></a>
    </div>
    <%if (buscador) {%>
    <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px">
        <app-buscador></app-buscador>
      </ul>
    </div><%}%>
    <%if (administracion || carrito) {%>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <%if (carrito) {%>
            <li>
                <a routerLink="/carrito">Carrito</a> <!-- Cambiar por icono-->
            </li><%}%>
            <%if (administracion) {%>
            <li>
                <a routerLink="/administracion">Administración</a> <!-- Cambiar por icono-->
            </li><%}%>
        </ul>
    </div><%}%>
  </mat-toolbar-row>
  <%if (categorias) {%>
  <mat-toolbar-row>
    <div fxFlex fxLayout fxLayoutAlign="space-between center">
      <%if (general) {%><a style="font-size: medium;" mat-button [routerLink]="'/catalogo/general'"> General </a><%}%>
      <a *ngFor="let categoria of categorias"
        style="font-size: medium;"
        mat-button [routerLink]="'/catalogo/' + categoria.ruta">
        {{categoria.nombre}}
      </a>
    </div>
  </mat-toolbar-row>
  <%}%>
</mat-toolbar>
