.producto-card {
  max-width: 400px;
  cursor: pointer;

  border-width: 2px;
  border-color: black;
  border-style: solid;

  .nombre {
    font-size: large;
    color: rgb(43, 43, 43);
  }

  .marca {
    font-size: small;
    color: rgb(126, 120, 120);
  }

  .image {
    border-width: 5px;
    margin-bottom: 10px;
  }

  .precioReal {
    color: rgb(43, 43, 43);
  }

  .precioOferta {
    font-size: medium;
    color: rgb(214, 32, 32);
    font-weight: bold;
  }
}