<mat-card
    class="producto-card"
    (click)="mostrarDetalles()">

    <mat-card-header>
        <mat-card-title class="nombre">{{producto.nombre | titlecase}}</mat-card-title>
        <mat-card-subtitle class="marca">
            {{producto.marca | titlecase}}
        </mat-card-subtitle>
    </mat-card-header>

    <div class="image">
        <img mat-card-image [src]="producto.imagen" [alt]="producto.nombre">
    </div>
    <mat-card-content>
        <span class="precioReal">Precio normal: ${{producto.precioReal | number }}</span>
        <br>
        <span class="precioOferta" *ngIf="producto.precioOferta">Precio oferta: ${{producto.precioOferta | number}}</span>
    </mat-card-content>
</mat-card>