.productos {
    width: 100%;
    margin: 0 auto;

    position: relative;
    padding: 8px;
    font-size: 14px;
}

.producto {
    padding: 16px;
}
<%if (!general) {%>
.bienvenida {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}<%}%>