<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="producto-detail-card">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title class="nombre" fxLayoutAlign="center center">
        {{producto.nombre | titlecase}}
      </mat-card-title>
      <mat-card-subtitle class="marca">
        {{producto.marca | titlecase}}
      </mat-card-subtitle>
    </mat-card-header>

    <div class="content" fxLayout="row" fxLayoutAlign="center center">
      <div class="image">
        <img mat-card-image [src]="producto.imagen" [alt]="producto.nombre">
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="precioReal">Precio normal: ${{producto.precioReal | number }}</span>
        <br>
        <span class="precioOferta" *ngIf="producto.precioOferta">Precio oferta: ${{producto.precioOferta | number}}</span>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div *ngFor="let detalle of producto.detalle" fxLayout="column" fxLayoutAlign="start center">
          <h3>{{detalle.nombre}}:</h3> {{detalle.contenido}}
        </div>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="column" fxLayoutAlign="center center">
        <span>Descripción: {{producto.descripcion}}</span>
      </div>

    </mat-card-content>
  </mat-card>
</div>