<div class="container" fxLayout="column" fxLayoutAlign="center">

    <div class="productos" fxLayout="row wrap" fxLayoutAlign="center">
      <app-producto
        *ngFor="let producto of productos"
        [producto]="producto"
        fxFlex="100"
        fxFlex.gt-xs="50"
        fxFlex.gt-sm="25"
        class="producto"
      ></app-producto>
    </div>
</div>