footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    background-color: rgb(76, 76, 177);
    padding-bottom: 50px;
}

footer a {
    display: flex;
    align-items: center;
}